.guestbook-container {

    position: relative;
    overflow: hidden;

    .guestbook-hero-wrap{
        padding-left: 0;
        padding-right: 0;
    }

        .guestbook-hero-image {
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100dvh - 63px);
            object-fit: cover;


            @media only screen and (max-width: 992px) {
              
                height: auto;
                object-fit: contain;
                        
                }

            }

            p{
                color:$text-color;
                text-align: center;
            }
            
}

 .guestbook-messages{
    width: 100%;

    

    .message-content{
        padding:1rem;
        width: 100%;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom:2rem;
    }

    .message-wrap:first-child{
        margin-top:0rem;
    }

    .message-profile{
        width: 3rem; /* Adjust the width and height as needed */
        height: 3rem;
        background-color: #fff; /* Adjust the background color as needed */
        border: 2px solid $custom-secondary-color;
        border-radius: 50%; /* Make the element perfectly circular */
        aspect-ratio: 1 / 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        p{
            margin:0;
            padding:0;
        }
    }

    .message{

        p{
            margin:0;
            padding:0;
            color:$text-color;
        }

    }


    .message-reply-wrap{
        .message-content{
            background:#f8eed6 ;
        }
    }


 }