.guestbook-container {

    position: relative;
    overflow: hidden;

    h1{
        font-size: clamp(2rem, 3vw, 3.688rem);
        font-weight: 600;
    }

    .guestbook-hero-wrap{
        padding-left: 0;
        padding-right: 0;
    }

        .guestbook-hero-image {
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100dvh - 63px);
            object-fit: cover;


            @media only screen and (max-width: 992px) {
                height: auto;
                object-fit: contain;
                        
                }

            }

            p{
                color:$text-color;
                text-align: center;
            }
            
}

    .quote-open{
        position: absolute;
        top: 0;
        left: 0%;
        transform: translateX(0%);
        opacity: .2;

        svg{
            width:6rem;
            height:6rem;
        }

        @media only screen and (max-width: 992px) {

            svg{
                width:3rem;
                height:3rem;
            }
                    
            }
 
        }
    

    .quote-close{
        position: absolute;
        bottom: 0;
        right: 0%;
        transform: translateX(0%) rotate(180deg);
        opacity: .2;

        svg{
            width:6rem;
            height:6rem;
        }


        @media only screen and (max-width: 992px) {

            svg{
                width:3rem;
                height:3rem;
                margin-top:-4rem;
            }
            
        }

    }



    .guestbook-messages{
    width: 100%;

    h2{
        font-weight: 600;
    }

    .message-content{
        padding:1rem;
        width: 100%;
        border-radius: .3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom:2rem;
        border:1px solid #efeaea;
    }

    .message-wrap:first-child{
        margin-top:0rem;
    }

    .message-profile{
        width: 3rem;
        height: 3rem;
        background-color: #fff;
        border: 2px solid $custom-secondary-color;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        p{
            margin:0;
            padding:0;
        }
    }

    .message{

        p{
            margin:0;
            padding:0;
            color:$text-color;
        }

    }


    .message-reply-wrap{
        .message-content{
            background:#f8eed6 ;
        }
    }

}



