$navbar-height: 62px;
$navbar-height-mobile: 60px;

.kroes-gradient-hero{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #0b1d26, transparent);
    opacity: 0.6;
    z-index: -1;
}


.kroes-hero-section{
    position: relative;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-image: url('./../../foto-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-hero{
        width: 100%;
        max-width: 790px;
        z-index: 99;
        position: relative;
        bottom: 20%;
    }

    .tagline{
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
    }

    .tagline-line{
        width:4.5rem;
        height: 0.125rem;
        margin-right: 1rem;
        background-color: $custom-secondary-color;
    }

    .heading-tagline{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.213rem;
        text-transform: uppercase;
    }

    h3{
        font-size: clamp(2rem, 4vw, 4.688rem);
        line-height: 1;
        margin-top:0px;
        font-weight: 600;

        @media only screen and (max-width: 1400px) {
            line-height: 1.1;
        }

        @media only screen and (max-width: 768px) {
            line-height: 1.3;
        }
    }
}