$navbar-height: 63px;
$navbar-height-mobile: 60px;

.gradient-hero{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #0b1d26, transparent 87%);
    opacity: 0.6;
}


.hero-section{
    z-index:9999;
    width: 100%;
    height: calc(100dvh - $navbar-height);
    background-image: url('./../../foto-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;

    @media only screen and (max-width: 768px) {
        height: calc(100dvh - $navbar-height-mobile);
    }
    

    .content-hero{
        width: 100%;
        max-width: 790px;
        z-index: 99;
        position: relative;
        bottom: 20%;
    }

    .tagline{
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
    }

    .tagline-line{
        width:4.5rem;
        height: 0.125rem;
        margin-right: 1rem;
        background-color: $custom-secondary-color;
    }

    .heading-tagline{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.213rem;
        text-transform: uppercase;
    }

    h3{
        font-size: clamp(2rem, 4vw, 4.688rem);
        line-height: 1;
        margin-top:0px;
        font-weight: 400;

        @media only screen and (max-width: 1400px) {
            line-height: 1.1;
        }

        @media only screen and (max-width: 768px) {
            line-height: 1.3;
        }
    }
}

.bird{
    background-image: url('../../bird-cells-new.svg');
    filter: invert(34%) sepia(55%) saturate(50%) hue-rotate(141deg) brightness(70%) contrast(91%);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird-one{
    animation-duration: 1s;
    animation-delay: -0.2s;
}

.bird-container {
	position: absolute;
	top: 10%;
    left: -3%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}
	
.bird-container-one{
	animation-duration: 15s;
	animation-delay: 0;
}


@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}