// Custom non bootstrap vars
$nav-font-size: .8rem;

.kroes-custom-navbar {

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index:999;

// Remove outline and border
    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border:none;
    }

    .nav-link{
        font-size:$nav-font-size;
        transition: all .3s ease;
    }

    .nav-item:hover .nav-link {
        color: $custom-secondary-color!important;
    }

}